<!DOCTYPE html>
<html>
  <head>
    <title>Fast Snack - Seu Lanchinho Rapidinho</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track'=> true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <meta charset="utf-8">
    <!-- Bootstrap Core CSS -->
    <link href="bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="modern-business.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="font-awesome.min.css" rel="stylesheet" type="text/css">
  </head>

  <body>
    
 	  <%= render 'partials/nav' %>

    <!-- Funcionamento da Gem Devise -->
   	<% if notice %>
   		<p class="alert alert-success"><%= notice %></p>
  	<% end %>
  	<% if alert %>
    		<p class="alert alert-danger"><%= alert %></p>
  	<% end %>

    <%= yield %>

    <%= render 'partials/footer' %>

  </body>
</html>
